*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
*::selection{
    background-color: #000;
    color: #fff;
}
html , body{
    width: 100%;
    height: 100%;
    background-color: #D2C9D4;
}
#circle{
    pointer-events: none;
    width: 45px;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 99;
    border: 1px solid black;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.164);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    
}
#loder{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1vw 0;
    background-color: #010101;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright span{
    text-transform: uppercase;
    color: rgb(110, 108, 108)
}

#loder>svg{
    width: 40vw;
    overflow: visible;
}
#loder svg g{
    overflow: hidden;
    visibility: hidden;
}
.st0{
    fill: red;
    stroke:red;
    stroke-linecap:round;
    stroke-miterlimit:10;
}
.stf{
    fill: #fff;
}

.std {
    fill: red;
}

.loding{
    width: 20px;
    height: 20px;
    background-color: rgb(201, 201, 201);
    box-shadow: 0px 0px 30px 3px #979797;
    border-radius: 50%;
}
#loder2{
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0vh;
    background-color: rgb(201, 99, 99);
}
header{
    width: 100%;
    height: 100vh;
}
header nav{
    width: 100%;
    height: 120px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
nav .navl{
    display: none;
}
nav .navl h1{
    font-family: "Until Sometime Demo";
    font-size: 2vw;
}
nav .navc h1{
    font-family: "Until Sometime Demo";

}
nav .navr{
    display: flex;
    gap: 3vw;
}
nav .navr a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
header .head-container{
    padding-top: 3vw;
    padding-left: 5vw;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.head-container .cntnr-l{
    position: relative;
    width: 55%;
}
.c-visual{
    margin-top: -12.8vw;
    margin-left: 4vw;
}
#Visual{
    width: 45%;
}
.v-alpha{
    stroke: red;
}
.cntnr-l h1{
    margin-top: 6vw;
    font-weight: 200;
    font-size: 1.5vw;
}
.cntnr-l h1 span{
    padding-left: 10px;
    color: red;
    font-family: "Until Sometime Demo";
}
.cntnr-l button{
    margin-top: 2vw;
    padding: 1vw 2vw;
    border-radius: 20px;
    font-size: 22px;
    border: none;
    background-color: red;
    box-shadow: 1px 20px 60px 5px red;
}
.head-container .img-cntnr{
    position: relative;
    width: 40%;
    overflow: hidden;
    /* background-color: red; */
}
.img-cntnr img{
    width: 110%;
}
.lang-cntnr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.lang-cntnr h3{
    position: absolute;
    padding: 1vw 1.1vw;
    border-radius: 50px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 10px 1px rgba(201, 201, 201, 0.37);
}
.lang-cntnr i{
    font-size: 30px;
}
.lang-cntnr h3:nth-child(1){
    top: 25%;
    right: 15%;
    color: yellow;
    background-color: rgba(251, 255, 4, 0.08);
}
.lang-cntnr h3:nth-child(2){
    top: 34%;
    right: 18%;
    color: red;
    background-color: rgba(255, 0, 0, 0.08);
}
.lang-cntnr h3:nth-child(3){
    top: 43%;
    right: 15%;
    color: rgb(0, 255, 21);
    background-color: rgba(0, 255, 21, 0.08);
}
.lang-cntnr h3:nth-child(4){
    top: 52%;
    right: 22%;
    color: rgb(212, 169, 255);
    background-color: rgba(212, 169, 255, 0.08);
}
.lang-cntnr h3 span:nth-child(2){
    display: none;
}
.description{
    position: absolute;
    top: 55%;
    left: 5%;
    width: 50%;
    height: 30%;
    padding: 20px;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px 1px rgba(201, 201, 201, 0.37);
    background-color: rgba(255, 255, 255, 0.205);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description h1{
    font-size: 1.3vw;
    border-bottom: 1px solid #000;
}
.description h1 span{
    font-family: "Until Sometime Demo";
    color: red;
    font-size: 1.5vw;
}
.description p{
    padding: 0 20px;
    font-size: 1vw;
    padding-top: 10px;
}
.description p span{
    font-size: 1.1vw;
    font-family: "Until Sometime Demo";
    color: red;
}
#project-container{
    margin-top: 3vw;
    padding: 4vw;
    width: 100%;
    display: flex;
    align-items: center;
}
.projects{
    width: 50%;
    display: flex;
    overflow-x: scroll;
}
.projects::-webkit-scrollbar{
    display: none;
}
.projects div{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 3vw;
    flex: none;
}
.projects div img{
    filter: grayscale(100%);
    width: 100%;
    border-radius: 15px;
    transition: all ease .5s;

}
#project-container i{
    font-size: 3vw;
}
.projects div img:hover{
    transform: scale(1.1);
    filter: grayscale(0);
}
#project-container .project-cnt{
    width: 40%;
    margin-left: 2vw;
}
.project-cnt h1{
    font-size: 4vw;
    text-transform: uppercase;
    margin: 1vw;
}
.project-cnt p{
    margin: 0 1vw;
    line-height: 1.2;
    font-size: 25px;
}
#design{
    margin-top: 8vw;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#design .design-desc{
    padding: 0 5vw;
    width: 50%;
}
.design-desc h1{
    font-size: 7vw;
    text-transform: uppercase;
}
.design-desc p{
    text-transform: uppercase;
    font-size: 1.2vw;
}
#design .sample{
    position: relative;
    width: 50%;
    height: 100%;
}
#design .sample .d-sample{
    position: absolute;
    width: 45%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    filter: grayscale(100%);
}
#design .sample .one{
    transform: translate(-70%,-40%) rotate(5deg);
    background-image: url('https://plus.unsplash.com/premium_photo-1663100678842-d89cb7b084ee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2127&q=80');
    background-position: center;
    background-size: cover;
}
#design .sample .two{
    transform: translate(-50%,-25%) rotate(10deg);
    background-image: url('https://images.unsplash.com/photo-1535567679266-c113f99615bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2026&q=80');
    background-position: center;
    background-size: cover;
}
#design .sample .three{
    transform: translate(-30%,-10%) rotate(15deg);
    background-image: url('https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGRlc2lnbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;

}
#row-cntnr{
    width: 100%;
    padding-top: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#row-cntnr .row{
    width: 95%;
    padding-left: 2vw;
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#row-cntnr .row:nth-child(4){
    border-bottom: 1px solid black;
}
.row h1{
    font-size: 5vw;
    text-transform: uppercase;
}
.row .project-img{
    position: relative;
    width: 60%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* background-color: red; */
}
.row .project-img a{
    text-decoration: none;
    color: #000;
    z-index: 999;

}
.row .project-img a i{
    font-size: 2.5vw;
    font-weight: 100;
}
.row .project-img p{
    padding-left: 5vw;
    width: 50%;
}
.row .project-img img{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    position: absolute;
    opacity: 0;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px black;
}

































@media (max-width:600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Gilroy";
    }
    body{
        background-color: #D2C9D4;
    }
    #circle{
        display: none;
    }
    #loder{
        height: 95vh;
        padding: 10vw 0;

    }
    #loder>svg{
        width: 60vw;
    }
    .copyright span{
        font-size: 11px;
    }
    header nav{
        height: 70px;
    }
    nav .navl{
        display: unset;
    }
    nav .navl h1{
        font-size: 4vw;
    }
    nav .navr{
        display: none;
    }
    header .head-container{
        padding: 0 3vw;
        width: 100%;
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .head-container .cntnr-l{
        width: 100%;
    }
    .head-container .img-cntnr{
        overflow: visible;
        width: 100%;
        /* background-color: red; */
    }
    .img-cntnr img{
        width: 100%;
    }
    .lang-cntnr i{
        font-size: 20px;
    }
    .c-visual{
        margin-top: -23vw;

    }
    #Visual{
        width: 45%;
    }
    .cntnr-l h1{
        margin-top: 8vw;
        margin-left: 5vw;
        font-size: 4.5vw;
        font-weight: 100;
    }
    .cntnr-l button{
        margin-top: 5vw;
        margin-left: 5vw;
        padding: 1.5vw 2.5vw;
        border-radius: 8px;
        font-size: 13px;
        border: 1px solid red;
        background-color: red;
        box-shadow: 1px 20px 60px 3px red;
        
    }
    .description{
        padding:2vw 4vw;
        width: 50vw;
        height: 30vw;
        border-radius: 20px;
    }
    .description h1{
        font-size: 4vw;
        margin-bottom: 2vw;
        border-bottom: 1px solid #000;
    }
    .description h1 span{
        font-family: "Until Sometime Demo";
        color: red;
        font-size: 2.5vw;
    }
    .description p{
        line-height: 1.7;
        padding: 5px 5px;
        font-size: 2.3vw;
    }
    .description p span{
        font-size: 2vw;
        font-family: "Until Sometime Demo";
        color: red;
    }
    #project-container{
        flex-wrap: wrap;
    }
    #project-container i{
        display: none;
    }
    .projects{
        width: 100%;
    }
    .projects div{
        padding: 6vw;
    }
    #project-container .project-cnt{
        width: 100%;
    }
    .project-cnt h1{
        font-size: 8vw;
        text-align: center;
    }
    .project-cnt p{
        font-size: 16px;
    }
    .projects div img{
        filter: grayscale(0);
    }
    #design{
        height: 50vh;
        flex-direction: column;
        align-items: flex-start;
    }
    #design .design-desc{
        width: 100%;
        height: 30%;
    }
    .design-desc h1{
        text-align: center;
        font-size: 8vw;
    }
    .design-desc p{
        text-transform: none;
        font-size: 14px;
        line-height: 1.3;
    }
    #design div{
        width: 100%;
    }
    #design .sample .d-sample{
        width: 95%;
        height: 90%;
    }
    #design .sample .one{
        transform: translate(-30%,-35%) rotate(5deg);
    }
    #design .sample .two{
        transform: translate(0%,-20%) rotate(10deg);
    
    }
    #design .sample .three{
        transform: translate(30%,-5%) rotate(15deg);
    
    }
    #row-cntnr{
        padding-top: 50vw;
    }
    .row .project-img p{
        display: none;
    }
    .row h1{
        font-size: 10vw;
    }
    .row .project-img img{
        border-radius: 0;
    }
}










